@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>

<div class="text-center">
    <h3>Mission Control's Objective</h3>
    <p>We are a startup company simply looking to help those entering the mission field to feel better prepared</p>
    <p>about their decision to serve the Lord. Please feel free to look around and grow closer to the Lord.<br /></p>
    <h3>Location</h3>
    <p>We are located at the following location. Please feel free to drop in and ask us about what we are up to.</p>
    <p>123 N. 456 E. Ste. 789</p>
    <p>Salt Lake City, Ut 84561</p>
</div>